<html>
<head>
<title>Scrapinghub's Most Popular Repositories</title>
<link rel = "stylesheet"
  type = "text/css"
  href = "/static/style_sheet.css" />
</head>

<body>
  <table>
<caption>Scrapinghub's GitHub Top10</caption>
  <tr>
    <td>{{stargazers_count[0]}}&#11089;</td>
    <td>{{project_name[0]}}</td>
  </tr>
  <tr>
    <td>{{stargazers_count[1]}}</td>
    <td>{{project_name[1]}}</td>
  </tr>
  <tr>
    <td>{{stargazers_count[2]}}</td>
    <td>{{project_name[2]}}</td>
  </tr>
  <tr>
    <td>{{stargazers_count[3]}}</td>
    <td>{{project_name[3]}}</td>
  </tr>
  <tr>
    <td>{{stargazers_count[4]}}</td>
    <td>{{project_name[4]}}</td>
  </tr>
  <tr>
    <td>{{stargazers_count[5]}}</td>
    <td>{{project_name[5]}}</td>
  </tr>
  <tr>
    <td>{{stargazers_count[6]}}</td>
    <td>{{project_name[6]}}</td>
  </tr>
  <tr>
    <td>{{stargazers_count[7]}}</td>
    <td>{{project_name[7]}}</td>
  </tr>
  <tr>
    <td>{{stargazers_count[8]}}</td>
    <td>{{project_name[8]}}</td>
  </tr>
  <tr>
    <td>{{stargazers_count[9]}}</td>
    <td>{{project_name[9]}}</td>
  </tr>
  <tr>
    <td>{{stargazers_count[10]}}</td>
    <td>{{project_name[10]}}</td>
  </tr>

</table>
</body>

</html>
